body {
    font-family: Arial, sans-serif;
    background-image: url(../backgif.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 30px;
    width: 80%;
    max-width: 600px;
    position: relative;
    z-index: 1;
    margin: auto;
    overflow: hidden;
}

.back {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: rgba(0, 0, 0, 0.1);
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    transition: color 0.3s;
    font-size: 20px;
}

.back:hover {
    color: rgb(98, 0, 255);
}

.comparison-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.comparison-column {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    width: 48%;
}

label {
    display: block;
    margin-bottom: 5px;
}

select,
input[type="text"] {
    width: auto;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: #4b4b75;
    color: #fff;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    transition: color 0.3s ease;
}

h1:hover {
    color: rgb(98, 0, 255);
}


h3 {
    font-size: 25px;
}

h4 {
    font-size: 25px;
}

#profilebanner {
    border-radius: 500px;
}

img {
    margin: 3.5px;
}

#otherproj {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    background-color: #575fcf;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    margin: 10px auto;
    /* Centers the button horizontally */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color 0.3s ease;
}

#otherproj:hover {
    color: rgb(98, 0, 255);
}

button:hover {
    color: rgb(98, 0, 255);
}